body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #7553c0;
}

header {
  background: #07052c;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 15px;
  background: white;
  border-radius: 5px;
}

h2 {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background:beige;
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #341f65;
  color: white;
}
